<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932105234815-69nefolpa7b48fob9q7l39lotonmduf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932105234815-69nefolpa7b48fob9q7l39lotonmduf2</string>
	<key>API_KEY</key>
	<string>AIzaSyBl1FQQhcyZIlfhwXpbmnTLWAgpLPLM6h4</string>
	<key>GCM_SENDER_ID</key>
	<string>932105234815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-1ced0</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-1ced0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932105234815:ios:5ceefa9bf650b8c57c924a</string>
</dict>
</plist>